/*Configurar layout de acordo com algumas regras
Por exemplo quando a largura for menor que 900px
Evitando encavalamentos de conteúdos (@media)*/

@media (max-width : 1300px){
    #page-home {
        background-position-x: 70vw;
    }

    #page-home .content{
        align-items: center;
        text-align: center;
    }

    #page-home header a{
        position: absolute;
        bottom: 48px;

        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main{
        align-items: center;
    }

    #page-search-results .cards{
        grid-template-columns: 1fr;
    }

    #page-create-point form .field-group{
        flex-direction: column;
    }

    /*Pegar o field que vem ao lado de um field para aplicar propriedades no segundo*/
    #page-create-point form .field-group .field + .field{
        margin-left: 0;
    }
}

@media (max-width: 600px){

    #page-create-point form {
        margin: 30px auto;
        padding: 10px;
    }

    #page-create-point form h1{
        font-size: 25px;
    }

    #page-create-point form fieldset{
        margin-top: 30px;
    }

    #page-create-point form legend {
        display: block;
    }

    #page-create-point form legend h2{
        font-size: 19px;
    }

    #page-create-point .items-grid{
        grid-template-columns: 1fr 1fr;
    }

}

@media (min-width : 1700px){

    #page-home {
        background-position-x: 40vw;
    }

}


@media (max-height  : 760px){

    #page-home {
        background-position-y: 10vw;
    }

}

@media (max-height  : 760px){

    #page-home {
        background-position-y: 10vw;
    }

}

